.vs
/RestfulCoreAPI/bin
/RestfulCoreAPI/obj
/RestfulCoreAPI/bin/Debug/netcoreapp2.1
/RestfulCoreAPI/obj/Debug/netcoreapp2.1
/RestfulCoreAPI.Data/bin
/RestfulCoreAPI.Data/obj
/RestfulCoreAPI.Services/bin
/RestfulCoreAPI.Services/obj
/RestfulCoreAPI.Models/obj
/RestfulCoreAPI.Models/bin
/RestfulCoreAPI.ViewModels/bin
/RestfulCoreAPI.ViewModels/obj